<div class="container">
  <div class="row mt-3">
    <div class="col-xs-12">
      <ol>
        <li>Add a button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output thata array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="row gap-2">
    <div class="col-xs-12">
      <app-assignment></app-assignment>
    </div>
  </div>
</div>

